@mixin cc-field__description (
  $color,
  $opacity,
  $font-family,
  $font-size,
  $margin
) {
  font-size: $font-size;
  margin: $margin;
  color: $color;
  opacity: $opacity;
  font-family: $font-family;
}
