@mixin cc-field--label (
  $color: $font-color,
  $font-family: $font-family,
  $margin: 0.3em 0
) {
  display: block;
  font-weight: bold;
  margin: $margin;
  color: $color;
  font-family: $font-family;
  font-size: 0.85em;
}

.cc-field--label {
  @include cc-field--label;
}
