<div class="cc-field">
  {{yield (hash
    states=states
    description=(component "cc-field--description"
      kind=kind
      size=size
    )
    input=(component input
      ids=(hash input=generatedInputId
                label=generatedLabelId)
      size=size
    )
    label=(component "cc-field--label"
      kind=kind
      ids=(hash input=generatedInputId
                label=generatedLabelId)
      size=size
    )
  )}}
</div>
