<div class="cc-fieldset">
  {{yield (hash field=(component "cc-field" onFocusIn=(action "onFocusIn")
                                            onFocusOut=(action "onFocusOut"))
                states=states)
  }}
</div>
